.profil-container {
    display: flex;
    flex-direction: column;
    text-align: right; 
    height: 100%;
  
    
}

.profil-header {
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    gap: 10px; 
    padding-right: 0px;
}

.profil-header p{
   width: 90px;
    color: #ff6060;
    font-size: 18px;
    font-weight: 500;
    font-family: Montserrat;
    
}

.profil-header img {
    width: 65px; 
    height: 65px;
    border-radius: 50%; 
    object-fit: cover; 
   
}

.rating { 
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    margin: auto;
}

.rating-stars {
    display: flex;
    justify-content: flex-end; 
    

}
.fa-solid.fa-star {
    font-size: 26px;
    width: 35px;
}
